@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/*Area da Logo-bar*/
* {
	margin: 0;
	padding: 0;
}

@media (max-device-width: 500px) {
	div#Logo-bar {
		background: #f2f2f2;
		border: 1px solid black;
		width: 100%;
		height: auto;
		order: 2;
		flex-grow: 0;
		margin: 0px 0px;
	}
	div#Logo-bar > p:nth-child(1) {
		margin: 20px 0px 0px 0px;
		text-align: center;
		left: 140px;
		font-size: 18px;
	}
	div#Logo-bar p:nth-child(2) {
		display: none;
		left: 200px;
		top: 12px;
	}
	div#Logo-bar > ul {
		text-align: center;
		list-style-type: none;
		margin: 20px auto;
		flex-direction: column;
	}

	.Brastemp > img {
		margin-top: 20px;
		height: 25px;
		width: 160px;
	}

	.compraCerta > img {
		margin-top: 20px;
		height: 22px;
		width: 180px;
	}

	.Consul > img {
		margin-top: 20px;
		height: 38px;
		width: 88px;
	}

	.Thebar > img {
		margin-top: 20px;
		height: 39px;
		width: 130px;
	}
}

@media (min-device-width: 501px) and (max-device-width: 1300px) {
	div#Logo-bar {
		background: #f2f2f2;
		border: 1px solid black;
		width: 100%;
		height: auto;
		order: 2;
		flex-grow: 0;
		margin: 0px 0px;
	}
	div#Logo-bar > p:nth-child(1) {
		margin: 20px 0px 0px 0px;
		text-align: center;
		left: 140px;
		font-size: 18px;
	}
	div#Logo-bar p:nth-child(2) {
		display: none;
		left: 200px;
		top: 12px;
	}
	div#Logo-bar > ul {
		columns: 2;
		text-align: center;
		list-style-type: none;
		margin: 20px auto;
		flex-direction: column;
	}

	.Brastemp > img {
		margin-top: 20px;
		height: 25px;
		width: 160px;
	}

	.compraCerta > img {
		margin-top: 20px;
		height: 22px;
		width: 180px;
	}

	.Consul > img {
		margin-top: 20px;
		height: 38px;
		width: 88px;
	}

	.Thebar > img {
		margin-top: 20px;
		height: 39px;
		width: 130px;
	}
}

@media (min-device-width: 1300px) {
	div#Logo-bar {
		background: #f2f2f2;
		border: 1px solid black;
		display: flex;
		position: relative;
		width: 100%;
		height: 80px;
		order: 2;
	}
	div#Logo-bar p {
		display: inline-block;
		height: 25px;
	}
	div#Logo-bar p:nth-child(1) {
		display: block;
		margin: 25px 0px 0px 180px;
		font-size: 1.2rem;
	}
	div#Logo-bar p:nth-child(2) {
		display: block;
		margin: 28px 0px 0px 60px;
	}
	div#Logo-bar > ul {
		position: absolute;
		max-width: 1000px;
		columns: 4;
		list-style-type: none;
		top: 25px;
		left: 550px;
	}

	.Brastemp > img {
		height: 25px;
		width: 160px;
	}

	.compraCerta > img {
		height: 22px;
		width: 180px;
	}

	.Consul > img {
		margin-left: 25px;
		height: 38px;
		width: 88px;
	}

	.Thebar > img {
		height: 39px;
		width: 130px;
	}
}
