@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/* Area da Nav-bar*/

@media (max-device-width: 500px) {
	div#Nav-bar {
		font-family: "Barlow", sans-serif;

		display: flex;
		flex-direction: column;

		width: 100%;
		height: min-content;

		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
	}

	div#Nav-bar img {
		margin: 30px 0px 0px 0px;
		align-self: center;
		width: 183px;
		height: 40px;
	}
	div#Nav-bar > ul {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 30px 0px 0px 20px;
		width: 80%;
		list-style-type: none;
		align-items: center;
		text-align: center;
	}

	div#Nav-bar > ul > li {
		margin-top: 10px;
	}

	div#Nav-bar > ul > li:nth-child(3) {
		margin-top: -15px;
		order: -1;
	}

	.a {
		text-decoration: none;
		color: inherit;
	}

	.content {
		align-self: center;
		order: 0;
		margin: 20px auto 0px auto;
		display: flex;
		border: 2px solid rgba(0, 0, 0, 0.1);
		background: transparent;
		max-width: 300px;
		box-sizing: border-box;
		height: 35px;
		border-radius: 20px;
	}

	.content input {
		color: #ee0e7d;
		position: relative;
		left: 10px;
		outline: 0;
		background: transparent;
		max-width: 50%;
		border: none;
	}
	.content input::placeholder {
		color: #ee0e7d;
	}

	.content button {
		position: relative;
		left: 30%;
		top: 2px;
		font-size: 19px;
		background: transparent;
		border: none;
		color: rgba(0, 0, 0, 0.7);
		text-transform: uppercase;
	}
	.pesquisa {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.7);
	}
}

@media (min-device-width: 501px) and (max-device-width: 999px) {
	div#Nav-bar {
		font-family: "Barlow", sans-serif;

		display: flex;
		flex-direction: column;

		width: 100%;
		height: min-content;

		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
	}

	div#Nav-bar img {
		margin: 30px 0px 0px 0px;
		align-self: center;
		width: 183px;
		height: 40px;
	}

	div#Nav-bar > ul {
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 30px 0px 0px 20px;
		width: 80%;

		columns: 1;
		list-style-type: none;
		text-align: center;
	}
	div#Nav-bar > ul > li {
		margin-top: 10px;
	}
	div#Nav-bar > ul > li:nth-child(3) {
		margin-top: -15px;
		order: -1;
	}
	.a {
		text-decoration: none;
		color: inherit;
	}

	.content {
		margin: 20px auto 0px auto;
		display: flex;
		border: 2px solid rgba(0, 0, 0, 0.1);
		background: transparent;
		width: 300px;
		box-sizing: border-box;
		height: 35px;
		border-radius: 20px;
	}

	.content input {
		color: #ee0e7d;
		position: relative;
		left: 10px;
		outline: 0;
		background: transparent;
		width: 240px;
		border: none;
	}
	.content input::placeholder {
		color: #ee0e7d;
	}

	.content button {
		position: relative;
		left: 20px;
		top: 2px;
		font-size: 19px;
		background: transparent;
		border: none;
		color: rgba(0, 0, 0, 0.7);
		text-transform: uppercase;
	}
	.pesquisa {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.7);
	}
}

@media (min-device-width: 1000px) {
	div#Nav-bar {
		display: flex;
		font-family: "Barlow", sans-serif;

		position: static;

		width: 100%;
		height: 80px;
		left: 0px;
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 0px;
	}
	div#Nav-bar img {
		margin: 18px 0px 0px 20px;
		width: 183px;
		height: 40px;
	}
	div#Nav-bar ul {
		margin: 30px 0px 0px 20px;
		width: 80%;

		columns: 5;
		list-style-type: none;
		text-align: left;
	}

	div#Nav-bar > ul > li:nth-child(2) {
		margin-left: -30%;
	}
	div#Nav-bar > ul > li:nth-child(3) {
		margin-left: 75%;
	}
	div#Nav-bar > ul > li:nth-child(4) {
		margin-left: 150%;
	}
	div#Nav-bar > ul > li:nth-child(5) {
		margin-left: 80%;
	}

	.a {
		text-decoration: none;
		color: inherit;
	}

	.content {
		margin: 12px 0px;
		display: flex;
		border: 2px solid rgba(0, 0, 0, 0.1);
		background: transparent;
		width: 270px;
		box-sizing: border-box;
		height: 30px;
		border-radius: 20px;
	}

	.content input {
		color: #ee0e7d;
		position: relative;
		left: 10px;
		outline: 0;
		background: transparent;
		width: 80%;
		border: none;
	}
	.content input::placeholder {
		color: #ee0e7d;
	}

	.content button {
		position: relative;
		left: 20px;
		top: 2px;
		font-size: 19px;
		background: transparent;
		border: none;
		color: rgba(0, 0, 0, 0.7);
		text-transform: uppercase;
	}
	.pesquisa {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.7);
	}
}
