@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/*
Essa é a parte para a Our-soluctions
*/
* {
	margin: 0;
	padding: 0;
}

@media (max-device-width: 500px) {
	div#Our-soluctions {
		border: 1px solid black;

		width: 100%;
		height: 557px;

		order: 3;
		flex-grow: 0;
		margin: 0px 0px;
	}
	.title {
		margin-top: 50px;
		text-align: center;
		font-size: 2.5em;
	}

	.items {
		padding-left: 10px;
		margin: 50px auto 00px auto;

		width: 50%;
		display: flex;
		overflow-x: auto;
		scroll-behavior: smooth;
	}

	.items::-webkit-scrollbar {
		display: none;
	}

	.Poke_info {
		margin-right: 30px;

		width: 210px;
		height: 300px;
		border: 1px solid black;
		border-radius: 5px;
	}

	.Poke_info h2 {
		margin-left: 16px;
		height: 24px;
		width: 160px;
		font-size: 17px;
	}

	.Poke_info p {
		margin-left: 16px;
		height: 24px;
		width: 141px;
		font-size: 12px;
	}

	.Poke_info img {
		margin-left: 16px;
		margin-top: 16px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: solid rgba(0, 0, 0, 0.5) 1px;
		background: url("../../../imgs/Pokebola.png");
	}

	div#Our-soluctions .Btxt {
		margin-left: 17px;
		font-weight: bold;
		font-size: 16px;

		width: 140px;
		height: 48px;
		background: #03ffa5;

		border-radius: 5px;
	}

	.Buttons {
		width: max-content;
		margin: 20px auto;
		background-color: transparent;
	}

	.Buttons button {
		margin: auto;
		background-color: transparent;
		border: none;
		width: 44px;
		height: 44px;
		cursor: pointer;
		font-size: 2.5em;
		color: rgb(228, 31, 37);
	}
}
@media (min-device-width: 501px) and (max-device-width: 999px) {
	div#Our-soluctions {
		border: 1px solid black;

		width: 100%;
		height: 557px;

		flex-grow: 0;
		margin: 0px 0px;
	}
	.title {
		margin-left: 7.5%;
		margin-top: 50px;
		text-align: left;
		font-size: 2.5em;
	}

	.items {
		padding-left: 10px;
		margin: 50px auto 0px auto;

		width: 85%;
		display: flex;
		overflow-x: auto;
		scroll-behavior: smooth;
	}

	.items::-webkit-scrollbar {
		display: none;
	}

	.Poke_info {
		margin-right: 30px;

		width: 210px;
		height: 300px;
		border: 1px solid black;
		border-radius: 5px;
	}

	.Poke_info h2 {
		margin-left: 16px;
		height: 24px;
		width: 160px;
		font-size: 17px;
	}

	.Poke_info p {
		margin-left: 16px;
		height: 24px;
		width: 141px;
		font-size: 12px;
	}

	.Poke_info img {
		margin-left: 16px;
		margin-top: 16px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: solid rgba(0, 0, 0, 0.5) 1px;
		background: url("../../../imgs/Pokebola.png");
	}

	div#Our-soluctions .Btxt {
		margin-left: 17px;
		font-weight: bold;
		font-size: 16px;

		width: 140px;
		height: 48px;
		background: #03ffa5;

		border-radius: 5px;
	}

	.Buttons {
		width: max-content;
		margin: 25px 0px 0px 7.5%;
		background-color: transparent;
	}

	.Buttons button {
		background-color: transparent;

		border: none;

		width: 44px;
		height: 44px;
		cursor: pointer;
		font-size: 40px;
		color: rgb(228, 31, 37);
	}
}
@media (min-device-width: 1000px) {
	div#Our-soluctions {
		border: 1px solid black;

		width: 100%;
		height: 557px;

		flex-grow: 0;
		margin: 0px 0px;
	}
	.title {
		margin-left: 7.5%;
		margin-top: 50px;
		text-align: left;
		font-size: 2.5em;
	}

	.items {
		padding-left: 10px;
		margin: 50px auto 0px auto;

		width: 85%;
		display: flex;
		overflow-x: auto;
		scroll-behavior: smooth;
	}

	.items::-webkit-scrollbar {
		display: none;
	}

	.Poke_info {
		margin-right: 30px;

		width: 210px;
		height: 300px;
		border: 1px solid black;
		border-radius: 5px;
	}

	.Poke_info h2 {
		margin-left: 16px;
		height: 24px;
		width: 160px;
		font-size: 17px;
	}

	.Poke_info p {
		margin-left: 16px;
		height: 24px;
		width: 141px;
		font-size: 12px;
	}

	.Poke_info img {
		margin-left: 16px;
		margin-top: 16px;
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: solid rgba(0, 0, 0, 0.5) 1px;
		background: url("../../../imgs/Pokebola.png");
	}

	div#Our-soluctions .Btxt {
		margin-left: 17px;
		font-weight: bold;
		font-size: 16px;

		width: 140px;
		height: 48px;
		background: #03ffa5;

		border-radius: 5px;
	}

	.Buttons {
		width: max-content;
		margin: 25px 0px 0px 7.5%;
		background-color: transparent;
	}

	.Buttons button {
		background-color: transparent;

		border: none;

		width: 44px;
		height: 44px;
		cursor: pointer;
		font-size: 40px;
		color: rgb(228, 31, 37);
	}
}
