@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/*essa é a parte do Contact-info*/
* {
	margin: 0px;
	padding: 0px;
}

@media (max-device-width: 500px) {
	div#Contact-info {
		text-align: center;

		font-family: "Barlow", sans-serif;
		color: #ffffff;

		width: 100%;
		height: 480px;

		background: #ee0e7d;

		order: 5;
		flex-grow: 0;
	}

	div#Contact-info p:nth-child(1) {
		padding-top: 80px;
		font-size: 2em;
		font-weight: bold;
	}
	div#Contact-info p:nth-child(2) {
		font-size: 1em;
		margin: 20px 0px;
	}
	div#Contact-info p:nth-child(3) {
		font-size: 2em;
		margin: 0px 0px;
	}
}

@media (min-device-width: 501px) and (max-device-width: 999px) {
	div#Contact-info {
		text-align: center;

		font-family: "Barlow", sans-serif;
		color: #ffffff;
		position: static;
		width: 100%;
		height: 480px;
		left: 0px;
		top: 1925px;
		background: #ee0e7d;
		flex: none;
		order: 5;
		flex-grow: 0;
		margin: 0px 0px;
	}

	div#Contact-info p:nth-child(1) {
		padding-top: 80px;
		font-size: 2em;
		font-weight: bold;
	}
	div#Contact-info p:nth-child(2) {
		font-size: 1em;
		margin: 20px 0px;
	}
	div#Contact-info p:nth-child(3) {
		font-size: 2em;
		margin: 0px 0px;
	}
}

@media (min-device-width: 1000px) {
	div#Contact-info {
		text-align: center;

		font-family: "Barlow", sans-serif;
		color: #ffffff;
		position: static;
		width: 100%;
		height: 480px;
		left: 0px;
		top: 1925px;
		background: #ee0e7d;
		flex: none;
		order: 5;
		flex-grow: 0;
		margin: 0px 0px;
	}

	div#Contact-info p:nth-child(1) {
		padding-top: 80px;
		font-size: 2em;
		font-weight: bold;
	}
	div#Contact-info p:nth-child(2) {
		font-size: 1em;
		margin: 20px 0px;
	}
	div#Contact-info p:nth-child(3) {
		font-size: 2em;
		margin: 0px 0px;
	}
}
