@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/* essa é a parte do NewLetter*/

div#Newletter {
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	font-family: "Barlow", sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	position: static;
	width: 100%;
	height: 436px;
	left: 0px;
	background: #000000;
	flex: none;
	order: 6;
	flex-grow: 0;
	margin: 0px 0px;
}
div#Newletter p {
	padding-top: 60px;
}
div.email {
	display: inline-flex;
	position: relative;
	border-bottom: 2px solid #03ffa5;
}
div#Newletter input#email {
	color: #ffffff;
	background-color: #000000;
	border: 0 none;
	outline: 0;

	width: 250px;
	height: 30px;
}

div#Newletter input#submit {
	color: #03ffa5;
	border: 0 none;
	outline: 0;

	background-color: #000000;
	margin-left: 30px;
	height: 30px;
}
