@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/* essa é a parte do rodapé  */

div#Footer {
	text-align: center;
	position: relative;
	border: 1px solid black;
	position: static;
	width: 100%;
	height: 80px;
	left: 0px;
	background: #000000;
	flex: none;
	order: 7;
	flex-grow: 0;
	margin: 0px 0px;
}
div#Footer a {
	display: flex;
	position: absolute;

	width: auto;
	height: auto;
}

img#Company {
	/* img/wppcompany */
	position: absolute;
	display: flex;
	top: 27px;
	left: 108px;
	width: 142px;
	height: 27px;
}
img#Face {
	/* img/wppcompany */

	position: absolute;
	display: flex;
	top: 27px;
	left: 1152px;
	width: 32px;
	height: 32px;
}
img#Insta {
	/* img/wppcompany */

	position: absolute;
	display: flex;
	top: 27px;
	left: 1201px;
	width: 32px;
	height: 32px;
}
img#In {
	/* img/wppcompany */

	position: absolute;
	display: flex;
	top: 27px;
	left: 1250px;
	width: 32px;
	height: 32px;
}
