@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500&display=swap");

/* essa é a parte do rodapé  */

* {
	margin: 0;
	padding: 0;
}

@media (max-device-width: 500px) {
	div#Footer {
		text-align: center;

		width: 100%;
		height: min-content;

		background: #000000;

		order: 7;
		flex-grow: 0;
		margin: 0px 0px;
	}
	div#Footer ul {
		flex-direction: column;
		columns: 1;
	}

	img#Company {
		/* img/wppcompany */

		width: 142px;
		height: 27px;
	}
	img#Face {
		/* img/wppcompany */
		margin-top: 25px;

		width: 32px;
		height: 32px;
	}
	img#Insta {
		/* img/wppcompany */

		width: 32px;
		height: 32px;
	}
	img#In {
		/* img/wppcompany */

		width: 32px;
		height: 32px;
	}
}

@media (min-device-width: 501px) and (max-device-width: 999px) {
	div#Footer {
		text-align: center;

		width: 100%;
		height: 80px;

		background: #000000;

		order: 7;
		flex-grow: 0;
		margin: 0px 0px;
	}
	div#Footer ul {
		width: 100%;
		columns: 4;
		list-style-type: none;
		text-align: center;
	}

	img#Company {
		/* img/wppcompany */

		width: 142px;
		height: 27px;
	}
	img#Face {
		/* img/wppcompany */
		margin-left: 240%;

		width: 32px;
		height: 32px;
	}
	img#Insta {
		/* img/wppcompany */
		margin-left: 150%;

		width: 32px;
		height: 32px;
	}
	img#In {
		/* img/wppcompany */
		margin-left: 45%;

		width: 32px;
		height: 32px;
	}
}

@media (min-device-width: 1000px) {
	div#Footer {
		width: 100%;
		height: 80px;

		background: #000000;

		order: 7;
	}

	div#Footer ul {
		width: 100%;
		columns: 4;
		list-style-type: none;
		text-align: center;
	}

	img#Company {
		/* img/wppcompany */

		width: 142px;
		height: 27px;
	}
	img#Face {
		/* img/wppcompany */
		margin-left: 240%;

		width: 32px;
		height: 32px;
	}
	img#Insta {
		/* img/wppcompany */
		margin-left: 150%;

		width: 32px;
		height: 32px;
	}
	img#In {
		/* img/wppcompany */
		margin-left: 30%;

		width: 32px;
		height: 32px;
	}
}
